<div class="container my-5 py-5">
    <div class="row row-cols-md-2 justify-content-center">
        <div class="col">
            <h2 class="mb-3">Reset password</h2>
            {% form 'reset_customer_password' %}
                {% render 'form-errors', form: form %}

                <div class="password">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" name="customer[password]" size="20">
                </div>

                <div class="password_confirm">
                    <label class="form-label" for="password_confirmation">Password Confirmation</label>
                    <input class="form-control" type="password" name="customer[password_confirmation]" size="20">
                </div>

                <div class="submit py-3">
                    <input class="btn btn-primary" type="submit" value="Activate account">
                    <span>or</span>
                    <input class="btn btn-primary" type="submit" name="decline" value="Decline invitation">
                </div>
            {% endform %}
        </div>

    </div>
</div>
