<div class="container py-5">
    <h1 class="h1 text-center mb-5">{{ section.settings.section-title }}</h1>
    <div class="row justify-content-center g-3">
        {% for product in collections[section.settings.featured-product-collection].products %}
            <div class="col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
                {% render  'product-card', product: product%}
            </div>
        {% endfor %}
    </div>

</div>

{% schema %}
{
"name": "Featured Products",
"tag": "section",
"class": "featured-product-section",
"settings": [
{
"type": "text",
"id": "section-title",
"label": "Section title",
"default": "Featured products"
},
{
"type": "collection",
"id": "featured-product-collection",
"label": "Featured collection"
}
],
"presets": [
{
"name": "Featured products",
"category": "Products"
}
]
}
{% endschema %}
